NET "outputs(0)" LOC="M5"; #LED0
NET "outputs(1)" LOC="M11"; #LED1
NET "outputs(2)" LOC="P7"; #LED2
NET "switches_inputs(0)" LOC="N3"; #switch0
NET "switches_inputs(1)" LOC="E2"; #switch1
NET "switches_inputs(2)" LOC="F3"; #switch2
NET "reset" LOC="A7"; #reset
NET "clk" LOC="B8"; #clock